<div class="container">
  <div class="content">
    <form *ngIf="!validateLeagues">
      <select [(ngModel)]="selectForOptionCountrie" id="" name="selectForOptionCountrie">
        <option selected>Selecione um país</option>
        <option *ngFor="let item of listCountries" [value]="item.name">
          {{ item.name }}
        </option>
      </select>

      <select [(ngModel)]="selectForOptionSeason" name="selectForOptionSeason" id="">
        <option *ngFor="let item of listSeasons" [value]="item">
          {{ item }}
        </option>
      </select>
      <div *ngIf="true" class="containerButtons">
        <button (click)="buscar()" mat-raised-button>Selecionar</button>
      </div>
    </form>

    <div *ngIf="validateLeagues">
      <form>
        <select [(ngModel)]="idLeague" (change)="changeTeams()" name="idLeague" id="">
          <option *ngFor="let item of listLeagues; let index = index" value="{{ item.league.id }}">
            {{ item.league.name }}
          </option>
        </select>
        <select [(ngModel)]="selectForTeam" name="selectForTeam" id="">
          <option *ngFor="let item of listTeams" [value]="item.team.id">
            {{ item.team.name }}
          </option>
        </select>
        <div class="containerButtons">
          <button (click)="getStatistics()" mat-raised-button>
            Selecionar
          </button>
          <button (click)="back()" mat-raised-button>Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>